.search-container{
    max-width: 100VW;
    z-index: 1;

}

.search-container::before{
    width: 100vw;
    background-color: rgb(233, 176, 176);
    background-image: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)),url(../img/Fibre-Optic-Cable.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}
